@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,900");
body {
  font-family: "Open Sans"; }

h2 {
  color: black;
  font-size: 1.3em;
  font-weight: 900;
  margin-bottom: 10px; }

#signout-button {
  margin: 10px;
  padding: 10px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: $main-color;
  color: white;
  border: 0;
  border-radius: 2px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1; }

input:focus, input:active {
  outline: none; }

button {
  padding: 10px 15px;
  background-color: $main-color;
  border: 0;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer; }
  button:hover {
    background-color: #d83838; }

a {
  text-decoration: none;
  color: black; }

.hide {
  display: none; }

.show {
  display: block; }

#authorize_modal {
  background-color: rgba(240, 240, 255, 0.8);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: none; }
  #authorize_modal #authorize-button {
    background-color: #409cf1;
    background-color: $main-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

input, select {
  padding: 10px;
  border: 0;
  background-color: white;
  border-radius: 3px; }

input[type="submit"] {
  cursor: pointer; }
