@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,900");
body {
  font-family: "Open Sans";
  overflow: hidden;
  -ms-user-select: none;
  user-select: none; }

h2 {
  color: #303030;
  /* font-size: 1.1em; */
  font-weight: 900;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px; }

h3 {
  margin-bottom: 10px;
  font-size: .7em;
  font-weight: 600;
  text-transform: uppercase;
  color: black; }

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */ }

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 15px; }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5); }

#menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 10px; }
  #menu span {
    color: black;
    display: inline-block;
    cursor: pointer;
    font-size: 1.2em;
    margin: 2px;
    padding: 10px; }
  #menu #signout-button {
    background-color: transparent;
    color: black;
    border: 0;
    height: 47px;
    width: 47px;
    border-radius: 50%; }
    #menu #signout-button i {
      font-size: 1.2em; }
    #menu #signout-button:hover {
      background-color: #ebebeb !important; }
    #menu #signout-button:active {
      background-color: #e1e1e1 !important; }

input:focus, input:active,
select:focus, select:active,
textarea:focus, textarea:active {
  outline: none; }

button {
  padding: 10px 15px;
  background-color: #f34141;
  border: 0;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer; }
  button:hover {
    background-color: #da0e0e !important; }
  button:active {
    background-color: #c20c0c !important; }
  button:focus, button:active {
    outline: none; }

a {
  text-decoration: none;
  color: black; }

.filter {
  filter: grayscale(1); }

.hide {
  display: none !important; }

.show {
  display: block; }

.deleting {
  filter: grayscale(1) opacity(0.5); }

#authorize_modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: none; }
  #authorize_modal #authorize-button {
    border-radius: 50px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    padding: 17px 25px;
    background-color: #409cf1;
    background-color: #f34141;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3); }

input, select, textarea {
  padding: 10px;
  border: 0;
  background-color: white;
  border-radius: 3px;
  font-family: "Open Sans";
  box-sizing: border-box; }

textarea {
  max-width: 300px;
  max-height: 200px;
  min-width: 100%;
  min-height: 50px;
  box-sizing: border-box; }

input[type="submit"] {
  cursor: pointer; }

.loader {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  .loader i {
    color: #bbb;
    animation: spin 4s linear infinite;
    font-size: 3em; }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes spinAdd {
  0% {
    -webkit-transform: translateY(-50%) rotate(0deg);
    transform: translateY(-50%) rotate(0deg); }
  100% {
    -webkit-transform: translateY(-50%) rotate(359deg);
    transform: translateY(-50%) rotate(359deg); } }
@keyframes fadein {
  from {
    opacity: 0;
    transform: scale(0.9); }
  to {
    opacity: 1;
    transform: scale(1); } }
