#left_aside {
  background-color: #eee;
  width: 30%;
  position: relative;
  float: left;
  padding: 20px; }
  #left_aside #account {
    padding: 20px 10px 10px 10px;
    text-align: center; }
    #left_aside #account #channel_thumbnail {
      border-radius: 50%; }
    #left_aside #account #channel_title {
      font_weight: bold;
      font-size: .8em; }
  #left_aside #loader {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    #left_aside #loader i {
      color: #bbb;
      animation: spin 4s linear infinite;
      font-size: 3em; }
  #left_aside #playlists .refresh {
    font-size: 0.7em;
    cursor: pointer; }
  #left_aside #playlists ul {
    list-style: none; }
    #left_aside #playlists ul li {
      position: relative;
      height: 60px;
      padding: 10px;
      margin: 10px 0;
      background-color: #e8e8e8;
      font-size: 1em;
      font-weight: bold;
      cursor: pointer;
      transition: .3s;
      animation: fadein 1s; }
      #left_aside #playlists ul li:hover {
        background-color: #f5f5f5; }
      #left_aside #playlists ul li.selected {
        background-color: #fff;
        color: #f34141; }
      #left_aside #playlists ul li img {
        float: left;
        height: 100%; }
      #left_aside #playlists ul li div.content {
        float: left;
        margin-left: 10px; }
        #left_aside #playlists ul li div.content span.numberOfVideos {
          display: block;
          font-size: .8em;
          margin-top: 5px;
          font-weight: normal; }
        #left_aside #playlists ul li div.content .cadenas {
          position: absolute;
          top: 10px;
          right: 10px; }

section#main_content {
  float: left;
  padding: 10px; }
  section#main_content ul#selectedPlaylistVideos li {
    margin: 5px 0;
    padding: 5px;
    height: 50px; }
    section#main_content ul#selectedPlaylistVideos li img {
      height: 100%;
      float: left; }
    section#main_content ul#selectedPlaylistVideos li span {
      font-weight: bold;
      margin-left: 10px;
      color: black;
      text-decoration: none; }
    section#main_content ul#selectedPlaylistVideos li:hover {
      background-color: #eee; }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
div.addPlaylist input, div.addPlaylist select, div.addPlaylist option {
  padding: 10px;
  border: 0;
  background-color: white;
  border-radius: 3px; }
div.addPlaylist button {
  padding: 10px 15px;
  background-color: #f34141;
  border: 0;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  transition: .5s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
