@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

#playlists{
	li{
		padding: 10px;
		background-color: #eee;
		font-size: 2em;
		font-weight: bold;
		font-family: "Open-Sans";
	}
}

