@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900");
::-webkit-scrollbar {
  display: none; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  color: #0f131d; }

body {
  font-family: 'Open Sans'; }

aside#menu {
  float: left;
  position: fixed;
  background-color: #0f131d;
  padding: 10px;
  box-sizing: border-box;
  color: white;
  height: 100%;
  width: 25%;
  text-align: center; }
  aside#menu h1 {
    font-size: 2em;
    font-family: Montserrat;
    opacity: 1;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 40px;
    background: linear-gradient(45deg, rgba(155, 29, 29, 0), rgba(155, 29, 29, 0.4) 20%, rgba(155, 29, 29, 0.7) 50%, rgba(155, 29, 29, 0.4) 80%, rgba(155, 29, 29, 0));
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.6);
    color: white;
    padding: 40px 50px;
    border-radius: 6px;
    display: inline-block;
    position: relative; }
    aside#menu h1:after {
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 20px;
      background-color: white; }
  aside#menu div {
    margin: 10px; }
  aside#menu form input[type=text] {
    border: 0;
    border-radius: 4px 0 0 4px;
    padding: 12px 10px;
    background-color: white;
    color: #0f131d;
    margin-left: 5px;
    width: 50%;
    font-size: 1.2em;
    font-weight: bold; }
    aside#menu form input[type=text]:active, aside#menu form input[type=text]:focus {
      outline: none; }
  aside#menu form button[type=submit] {
    display: inline-block;
    border: 0;
    border-radius: 0 4px 4px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-color: #9b1d1d;
    color: white;
    position: relative;
    left: -4px;
    font-size: 1em;
    cursor: pointer;
    transition: .05s;
    width: 46px;
    height: 46px; }
    aside#menu form button[type=submit]:active, aside#menu form button[type=submit]:focus {
      outline: none; }
    aside#menu form button[type=submit]:active {
      box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
      opacity: .7; }
    aside#menu form button[type=submit] i {
      font-size: 1em;
      opacity: 1; }
  aside#menu form i {
    opacity: .4;
    font-size: 1.5em; }
  aside#menu form ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgba(15, 19, 29, 0.6);
    font-weight: bold; }
  aside#menu #profile {
    margin-top: 60px;
    animation: fadein .3s; }
    aside#menu #profile #profile_fullname {
      font-size: 1.3em;
      font-weight: bold;
      margin-bottom: 5px; }
    aside#menu #profile #profile_username {
      font-size: .8em;
      margin-bottom: 20px; }
      aside#menu #profile #profile_username a {
        color: white;
        text-decoration: none; }
    aside#menu #profile #profile_picture {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); }

aside#photos {
  background-color: #E9EEF1;
  width: 75%;
  height: 100%;
  float: right;
  position: relative; }
  aside#photos div#no_result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  aside#photos ul li {
    display: inline-block;
    position: relative;
    float: left;
    width: 33.33%;
    height: auto;
    overflow: hidden;
    animation: fadein .3s; }
    aside#photos ul li#voir_plus {
      cursor: pointer;
      position: relative;
      text-align: center;
      background: linear-gradient(-45deg, #e53737, #e29638); }
      aside#photos ul li#voir_plus:hover {
        background: linear-gradient(-45deg, #e85c5c, #e8a451); }
      aside#photos ul li#voir_plus i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        font-size: 3em;
        color: rgba(0, 0, 0, 0.5); }
    aside#photos ul li:hover .external_link, aside#photos ul li:hover .overlay, aside#photos ul li:hover .location, aside#photos ul li:hover .likes {
      opacity: 1; }
    aside#photos ul li .overlay {
      z-index: 9;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, transparent 15%);
      opacity: 0;
      transition: .2s; }
    aside#photos ul li img {
      height: 100%; }
    aside#photos ul li .likes {
      z-index: 10;
      font-size: 1.2em;
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: white;
      font-weight: 600;
      opacity: 0;
      transition: .2s; }
      aside#photos ul li .likes i {
        color: #9b1d1d; }
    aside#photos ul li .location {
      z-index: 10;
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: white;
      font-weight: 600;
      opacity: 0;
      transition: .2s; }
      aside#photos ul li .location p {
        font-size: 1em;
        text-align: right;
        text-overflow: ellipsis;
        width: 120px;
        white-space: nowrap;
        overflow: hidden; }
      aside#photos ul li .location i {
        color: white; }
    aside#photos ul li .external_link {
      opacity: 0;
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
      font-size: 1.4em;
      z-index: 10;
      transition: .2s; }
      aside#photos ul li .external_link i {
        color: white;
        text-shadow: 0 3px 8px rgba(0, 0, 0, 0.3); }

/* animation */
@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }
