@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

body{
	font-family: 'Open Sans';
}
aside#menu {
	float: left;
	position: fixed;
	background-color: white;
	padding: 10px;
	box-sizing: border-box;
	height: 100%;
	width: 33.3%;
	h1{
		font-size: 3em;
		font-weight: bold;
		color: black;
	}
	div{
		margin: 10px;
	}
	input[type=text]{
		border: 2px solid #ddd;
		padding: 10px 15px;
		// box-shadow: 0 2px 6px rgba(0,0,0,.2);
		font-size: 1.2em;
		margin-left: 5px;
		&:active, &:focus{
			outline: none;
		}
	}
	#search_form{

	}
}

aside#photos {
	background-color: #E9EEF1;
	width: 66.6%;
	height: 100%;
	float: right;
	position: relative;

	div#no_result{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	ul{
		li{
			display: inline-block;
			position: relative;
			float: left;
			width: 33.33%;
			height: auto;
			overflow: hidden;

			&:hover{
				.external_link{
					opacity: 1;
				}
			}

			.overlay{
				z-index: 9;
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: linear-gradient(0deg, rgba(0,0,0,.5) 0%, transparent 15%);
			}
			img{
				height: 100%;
			}
			.likes{
				z-index: 10;
				position: absolute;
				bottom: 10px;
				left: 10px;
				color: white;
				font-weight: 600;

				i{
					color: red;
				}
			}
			.location{
				z-index: 10;
				position: absolute;
				// display: inline;
				bottom: 10px;
				right: 10px;
				color: white;
				font-weight: 600;
				p{
					font-size: 12px;
					text-align: right;
					text-overflow: ellipsis;
					width: 120px;
					white-space: nowrap;
					overflow: hidden;
				}
				i{
					color: white;
				}
			}
			.external_link{
				opacity: 0;
				position: absolute;
				top: 10px;
				right: 10px;
				color: white;
				font-size: 1.4em;
				z-index: 10;
				transition: .2s;
				i{
					color: white;
					text-shadow: 0 3px 8px rgba(0,0,0,.3);
				}
			}
		}
	}
}