#left_aside{
	background-color: #eee;
	width: 30%;
	position: relative;
	float: left;
	padding: 20px;
	#account{
		padding: 20px 10px 10px 10px;
		text-align: center;
		#channel_thumbnail{
			border-radius: 50%;
		}
		#channel_title{
			font_weight: bold;
			font-size: .8em;
		}
	}
	#loader{
		display: none;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		i{
			color: #bbb;
			animation: spin 4s linear infinite;
			font-size: 3em;
		}
	}
	#playlists{
		ul{
			list-style: none;
			li{
				position: relative;
				height: 60px;
				padding: 10px;
				margin: 10px 0;
				background-color: #e8e8e8;
				font-size: 1em;
				font-weight: bold;
				cursor: pointer;
				&.selected{
					background-color: #fff;
					color: #f34141;
				}
				img{
					float: left;
					top: 0;
					left: 0;
					height: 100%;
				}
				div.content{
					float: left;
					margin-left: 10px;
					span.numberOfVideos{
						display: block;
						font-size: .8em;
						margin-top: 5px;
						font-weight: normal;
					}
					.cadenas{
						position: absolute;
						top: 10px;
						right: 10px;
					}
				}
			}
		}
	}
}

section#main_content{
	float: left;
	padding: 10px;
	ul#selectedPlaylistVideos{
		li{
			margin: 5px 0;
		}
	}
}

@keyframes spin { 
	100% { 
		-webkit-transform: rotate(360deg); 
		transform: rotate(360deg); 
	}
}

div.addPlaylist{
	input{
		padding: 10px;
		// border: 1px solid lighten(#f34141, 25%);
		border: 0;
		background-color: white;
		color: #f34141;
	}
	button {
		padding: 10px 15px;
		background-color: #f34141;
		border: 0;
		color: white;
		font-weight: bold;
		border-radius: 3px;
		cursor: pointer;
		transition: .5s;
	}
}