@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,900');

body{
	font-family: "Open Sans";
}
h2{
	color: black;
	font-size: 1.3em;
	font-weight: 900;
	margin: 10px;
}


#left_aside{
	background-color: #eee;
	font-family: "Open Sans";
	width: 30%;
	height: 500px;
	position: relative;
	float: left;
	#account{
		padding: 10px;
		text-align: center;
		#channel_thumbnail{
			border-radius: 50%;
		}
		#channel_title{
			font_weight: bold;
			font-size: .8em;
		}
	}
	#loader{
		display: none;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		i{
			color: #bbb;
			animation: spin 4s linear infinite;
			font-size: 3em;
		}
	}
	#playlists{
		padding: 10px;
		h2{
			color: black;
			font-size: 1.3em;
			font-weight: 900;
			margin: 10px;
		}
		ul{
			list-style: none;
			li{
				position: relative;
				height: 60px;
				padding: 10px;
				margin: 5px 10px;
				background-color: #fff;
				font-size: 1em;
				font-weight: bold;
				cursor: pointer;
				&.selected{
					background-color: #ccc;
				}
				img{
					float: left;
					// position: absolute;
					top: 0;
					left: 0;
					height: 100%;
				}
				div{
					float: left;
					margin-left: 10px;
				}
			}
		}
	}
	button {
		padding: 10px 15px;
		background-color: white;
		border: 1px solid  lighten(#f34141, 25%);
		color: #f34141;
		font-weight: bold;
		border-radius: 3px;
		cursor: pointer;
		transition: .5s;
	}
}

section#main_content{
	float:left;
}

@keyframes spin { 
	100% { 
		-webkit-transform: rotate(360deg); 
		transform: rotate(360deg); 
	}
}

#signout-button{
	margin: 10px;
	padding: 10px;
	font-size: 1.2em;
	cursor: pointer;
	background-color: #f34141;
	color: white;
	border: 0;
	border-radius: 2px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}